*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Work sans;
}

html , body{
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    /* margin-top: 0.1px; */
    padding-top: 0.1px;
}
#nav{
    margin-top: 40px;
    height: 9vh;
    width: 100%;
    /* background-color: rgb(233, 135, 6); */
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /* background-color: aqua; */
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monument;
    letter-spacing: -1.5px;
    font-weight: 700;
    font-size: 2.4vw;
}
#nav h2{
    /* background-color: rgb(0, 255, 255); */
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black ;
    font-size: 1.2vw;
    font-weight: 500;
}
#nav h2:nth-last-child(1){
    width: 10vw;
}#nav h2:nth-last-child(2){
    width: 33vw;
}

#center{
    height: 86%;
    width: 100%;
    /* background-color: chartreuse; */
    padding: 3vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#over{
    position: absolute;
    height: 40%;
    width: 100%;
    /* background-color: aqua; */
    bottom: 0;
    color: #ffff;
    padding:  0 3vw;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: Monument;
    font-size: 3vw;
}
#over1 h2{
    /* background-color: black; */
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4vh;
    border: 1px solid #ffff;

}
#over2{
    border-top: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#over2 h2{
    font-size: 1.6vw;
    font-weight: 400;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: brown; */
    /* padding: 2vw; */
    /* display: flex; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

}
#container{
    height: 100%;
    width: 100%;
    /* background-color: burlywood; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 75%;
    width: 14%;
    border-radius: 50%;
    margin: 1.5vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}