@font-face {
    font-family: ar;
    src: url(./RELIGATH-Demo.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}
html , body {
    width: 100%;
    height: 100%;
}
#main{
    margin: 1px;
    height: 100%;
    width: 100%;
    background-image:url(https://images.unsplash.com/photo-1616455165195-239de2592faa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
    background-size: cover;
    background-position: center;
}
h1{
    margin: 40px;
    color:   rgb(1, 3, 7);
    /* background-color: black; */
    font-size: 50px;
    font-family: ar;
    font-weight: 100;
}
