*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#nav{
    height: 75px;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}
.gola{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
#nav-part1{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#nav-part2 h4{
    font-size: 16px;
    font-weight: 500;
}
#nav-part2 h4 span{
    margin-left: 15px;
    font-weight: 200;
    color: gray;
}

 /* nav  2nd*/
#nav2{
    height: 80px;
    width: 100%;
    /* background-color: darksalmon; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 80px;
    padding: 0 30px;
}
#nav2 h3{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#content{
    height: calc(100% - 155px);
    width: 100%;
    /* background-color: blue; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
    
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background:red; */
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 100px;
    font-family: work sans;
    font-weight: 300;
}
#image-content{
    height: 60%;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
   display: none;
}
#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 