*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html , body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#nav{
    padding:0 15px;
    gap:20px;
    width: 100%;
    height: 65px;
    /* background-color: rgb(204, 20, 20); */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: end;
}
#nav h4{
    font-size: 18px;
    font-weight: 400;
}
#nav i{
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: 400;
}
#center{
    width: 100%;
    /* background-color: coral; */
    padding: 10px 90px;
}
#center h1{
    font-size: 70px;
    font-size: 4.53vw;
    font-weight: 85;
    line-height: 4.8vw;
}
#center-in{
    height: 150px;
     margin-top: 30px;
    /* padding: 45px; */
    /* background-color: blueviolet; */
    /* font-weight: 400; */
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 14px;
    font-size:1vw ;
    font-weight: 500;
    line-height: 1.2vw;
}
#right{
    width: 20%;
    /* background-color: blanchedalmond; */
}
.elem{
    /* background-color: chartreuse; */
    /* margin: 5px; */
    padding: 10px 0;
    border-top: 1.3px solid black;
    display: flex;
    justify-content: space-between;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}.elem i{
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}.elem:hover{
    background-color: rgb(219, 218, 218);
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 41.79%;
    width: 100%;
    background-color: red;
   background-image: url(Screenshot\ 2025-05-16\ 234556.png);
    /* background-image: url(https://img.freepik.com/free-photo/positive-woman-showing-peace-sign_197531-19816.jpg?ga=GA1.1.139332887.1734755530&semt=ais_hybrid&w=740); */
    background-size: cover;
    /* object-fit: cover; */
    vertical-align: bottom;
   
    /* background-position: 0 10%; */
    /* background-position: center; */

    
    
}
@media (max-width:600px) {
    #nav{
    padding:0 15px;
    gap:20px;
    width: 100%;
    height: 5.4vh;
    /* background-color: rgb(204, 20, 20); */
    color: #000;
   
}
#nav h4{
    font-size: 13px;
    font-weight: 400;
    /* display: none; */
}
#nav i{
    background-color: #000;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-weight: 500;
    font-size:15px;
}
#center{
    width: 100%;
    /* height: 43vh; */
    /* background-color: coral; */
    padding: 25px 20px;
}
#center h1{
    /* font-size: 70px; */
    font-size: 7.59vw;
    font-weight: 85;
    line-height: 8.8vw;
}
#center-in{
    /* height: 19vh; */
     margin-top: 20px;
    /* padding: 45px; */
    /* background-color: blueviolet; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 24px;
    font-weight: 400;
    
}
#center-in p{
    /* font-size: ; */
    font-size:3.3vw ;
    font-weight: 500;
    line-height: 4.2vw;
    width: 100%;
    

}
#right{
    width: 100%;
    /* background-color: blanchedalmond; */
}
.elem{
    /* background-color: chartreuse; */
    /* margin: 5px; */
    padding: 10px 0;
    border-top: 1.3px solid black;
    display: flex;
    justify-content: space-between;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: px;
}.elem i{
    opacity: 1;
}
.elem:hover i{
    opacity: 1;
}.elem:hover{
    background-color: rgb(219, 218, 218);
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    /* height:calc( calc(100%-46%)-5.4vh); */
    height: 35%;
    width: 100%;
    background-color: red;
   background-image: url(Screenshot\ 2025-05-16\ 234556.png);
    /* background-image: url(https://img.freepik.com/free-photo/positive-woman-showing-peace-sign_197531-19816.jpg?ga=GA1.1.139332887.1734755530&semt=ais_hybrid&w=740); */
    background-size: cover;
    object-fit: cover;
    vertical-align: bottom;
    /* background-position: 0 10%; */
    background-position: center;

    
    
}
}


