*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Gilroy; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
}

html , body{
    width: 100%;
    height: 100%;
}
#main{ 
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 55% 19%;
  
}
#left-top-left{
    /* background-color: chocolate; */
    padding: 30px;

}
#square{
    height: 20px;
    width: 20px;
    rotate: 45deg;
    background-color: black;
}
#left-top-right{
    /* background-color: aqua; */
    padding: 40px;
    align-self: center;
    justify-self: end;
    text-align: right;
}
#left-top-right  h4{
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 500;
}
#left-top-right  h5{
    font-size: 18px;
    font-weight: 500;
}
#right{
    /* background-color: brown; */
    grid-column: 3;
   grid-row: 1/4;
}
#left-center{
    /* background-color: yellowgreen; */
    grid-column: 1/3;
    padding: 45px;
}
#left-center h1{
    font-size: 5.5vw;
   text-transform: uppercase;
   line-height: 6vw;
   font-weight: 400;
   font-family: helvetica;
   
}
#left-center h1:nth-child(2n){
    text-align: center;
}
#left-bottom{
    /* background-color: blue; */
    grid-column: 1/3;

    padding: 40px;
}
#left-bottom p{
    width: 70%;
    font-size: 18px;
    font-weight: 500;
  
}
#right{
    /* background-color: rgb(0, 255, 76); */
    padding: 40px;
    padding-right: 150PX;
}
#right video{
    height: 100%;   
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
#arrow{
    position: absolute;
    top: 50%;
    left: 51%;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
#arrow i{
    font-size: 40px;
    font-weight: 100;
}